MULTI_THREAD =

# hosting url
HOST =
WEB_HOST =

# Server Listen
IP =
PORT =

API_VERSION =

# Logger
LOG_REQUEST =

# Middlewares
MIDDLEWARE_ORIGIN =
MIDDLEWARE_JSON_LIMIT_SIZE =

#HASHING SALT
HASH_SALT =

# JWT SECRET
JWT_TOKEN_SECRET = 
JWT_TOKEN_EXPIRED = 

# DATABASE
DB_DIALECT = 
DB_LOGGING = 
DB_HOST = 
DB_PORT = 
DB_USERNAME = 
DB_PASSWORD = 
DB_DATABASE = 